# PostgreSQL Database Configuration
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=5432

# Security & Authentication
JWT_SECRET=

# Third-Party API Keys
TWOFACTOR_API_KEY=

# Frontend CORS Origin
FRONTEND_URL=

